# Java / Spring Boot
target/
*.class
*.jar
*.war
*.ear
*.iml
*.log
*.db
*.h2.db
*.mv.db
*.swp
.DS_Store
.idea/
*.iws
*.ipr
*.bak

# Maven
log/
dependency-reduced-pom.xml
release.properties

# IntelliJ
*.iml
.idea/
*.ipr
*.iws
out/

# VSCode
.vscode/

# Sistema operacional
Thumbs.db
ehthumbs.db
Desktop.ini

# React / Node.js
frontend/node_modules/
frontend/.env
frontend/.next
frontend/dist
frontend/build
frontend/yarn.lock
frontend/package-lock.json

# Testes
coverage/
test-output/
